<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <title>Document</title>
</head>
<body>
    <table>
        <th> title </th>
        <th> id </th>
        <th> creation_date </th>
    <tr>
        <td> DTM </td>
        <td> 1 </td>
        <td> 12.11.2023 </td>
    </tr>
    {% for post in content%}
    <tr>
        <td> {{content.title}} </td>
        <td> {{content.id}} </td>
        <td> {{content.creation_date}} </td>
    </tr>
    {% endfor %}
    
    </table>
</body>
</html>