<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <title>Document</title>
</head>
<body>
    <table>
            <th> title </th>
            <th> id </th>
            <th> yaratilgan_sana </th>
            <th> image </th>
        <!-- <tr>
            <td> DTM </td>
            <td> 1 </td>
            <td> 12.11.2023 </td>
        </tr> -->
        {% for post in content%}
        <tr>
            <td> {{post.title}} </td>
            <td> {{post.id}} </td>
            <td> {{post.yaratilgan_sana}} </td>
            <td> 
                <img src="{% static post.image %}">
            </td>
        </tr>
        {% endfor %}
    
    </table>
</body>
</html>